* {
  margin: 0;
  padding: 0;
}

/* Oculta o botões em telas menores */
@media screen and (max-width: 768px) {

  #pdfButton,
  #backButton,
  #nextButton {
    display: none !important;
  }

  .nav-wrapper .brand-logo {
    font-size: 16px !important;
    padding: 0;
  }

  .card {
    padding: 3px;
  }
}

/* Redefine as margens e outros estilos para a impressão */
@media print {
  * {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: transparent;
  }

  /* Oculta outros elementos desnecessários na impressão */
  .btn,
  #pdfButton,
  #addButton,
  #backButton,
  .btn-edit,
  .btn-delete,
  #card-lancamento,
  #chart,
  #tutorial,
  #currencyConverter,
  .navigation,
  .iframe-container,
  #Registrar_Compra,
  #importButton,
  #tutorial_gerar_excel {
    display: none !important;
  }

  /* Ajusta a estilização dos cards para impressão */
  .card {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .card-content {
    font-size: 14px;
  }

  .container {
    width: 100%;
  }

  .brand-logo {
    text-align: center;
  }
}

#home {
  cursor: pointer;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Estiliza a barra de navegação */
.nav-wrapper {
  background-color: #007bff;
  /* Cor de fundo azul */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  display: flex;
  justify-content: space-between;
  /* Espaça os elementos igualmente */
  align-items: center;
  /* Alinha verticalmente os itens no centro */
}

/* Estiliza os botões de navegação */
.nav-wrapper .btn {
  background-color: #ffffff;
  /* Cor de fundo branca */
  color: #007bff;
  /* Cor do texto azul */
  border: 2px solid #007bff;
  /* Borda azul */
  border-radius: 5px;
  /* Bordas arredondadas */
  padding: 10px 15px;
  /* Espaçamento interno */
  font-size: 16px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor em forma de mão */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  line-height: 1.5;
  /* Alinha verticalmente o texto */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  /* Transições suaves */
  display: inline-flex;
  /* Faz com que o botão seja tratado como um contêiner flexível */
  align-items: center;
  /* Alinha o texto verticalmente no centro */
  justify-content: center;
  /* Alinha o texto horizontalmente no centro */
}

.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  background-color: #ffffff;
  /* Cor de fundo branca */
  color: #007bff;
  /* Cor do texto azul */
  border: 2px solid #007bff;
  /* Borda azul */
  border-radius: 15px;
  /* Bordas arredondadas */
  padding: 5px 10px;
  /* Espaçamento interno */
  font-size: 14px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor em forma de mão */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  line-height: 1.5;
  /* Alinha verticalmente o texto */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  /* Transições suaves */
}

.btn:hover {
  background-color: #007bff;
  /* Cor de fundo azul ao passar o mouse */
  color: #ffffff;
  /* Cor do texto branca ao passar o mouse */
  border-color: #007bff;
  /* Borda azul ao passar o mouse */
}

.nav-wrapper .btn:hover {
  background-color: #007bff;
  /* Cor de fundo azul ao passar o mouse */
  color: #ffffff;
  /* Cor do texto branca ao passar o mouse */
  border-color: #007bff;
  /* Borda azul ao passar o mouse */
}

.nav-wrapper .btn:focus {
  outline: none;
  /* Remove o contorno padrão ao focar no botão */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  /* Sombra azul clara ao focar */
}

.brand-logo {
  color: #ffffff;
  /* Cor do texto da marca branca */
  font-size: 1.5em;
  /* Tamanho da fonte da marca */
  font-weight: bold;
  /* Texto em negrito */
  text-align: center;
  /* Centraliza o texto horizontalmente */
}


#backButton,
#nextButton,
#homeButton,
#bot-button {
  background-color: #258fff;
  /* Cor de fundo azul */
  color: white;
  /* Cor do texto branca */
  border-radius: 15px;
  /* Bordas arredondadas */
  padding: 5px 10px;
  /* Espaçamento interno */
  font-size: 14px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor em forma de mão */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  line-height: 1.5;
  /* Alinha verticalmente o texto */
  display: inline-flex;
  /* Faz com que o botão seja tratado como um contêiner flexível */
  align-items: center;
  /* Alinha o texto verticalmente no centro */
  justify-content: center;
  /* Alinha o texto horizontalmente no centro */
  border: none;
  /* Remove a borda padrão */
  transition: background-color 0.3s;
  /* Transição suave para a cor de fundo */
  margin: 5px;
}

#addButton,
#pdfButton,
#importButton {
  background-color: #258fff;
  /* Cor de fundo azul */
  color: white;
  /* Cor do texto branca */
  border-radius: 15px;
  /* Bordas arredondadas */
  padding: 15px 5px;
  /* Espaçamento interno */
  font-size: 12px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor em forma de mão */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  line-height: 1.5;
  /* Alinha verticalmente o texto */
  display: inline-flex;
  /* Faz com que o botão seja tratado como um contêiner flexível */
  align-items: center;
  /* Alinha o texto verticalmente no centro */
  justify-content: center;
  /* Alinha o texto horizontalmente no centro */
  border: none;
  /* Remove a borda padrão */
  transition: background-color 0.3s;
  /* Transição suave para a cor de fundo */
}



#pdfButton:hover,
#backButton:hover,
#nextButton:hover,
#homeButton:hover,
#importButton:hover,
#bot-button:hover {
  background-color: #0056b3;
}

.btn-edit {
  background-color: #258fff;
  /* Cor de fundo azul */
  color: white;
  /* Cor do texto branca */
  border-radius: 5px;
  /* Bordas arredondadas */
  padding: 5px 10px;
  /* Espaçamento interno */
  font-size: 16px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor em forma de mão */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  line-height: 1.5;
  /* Alinha verticalmente o texto */
  display: inline-flex;
  /* Faz com que o botão seja tratado como um contêiner flexível */
  align-items: center;
  /* Alinha o texto verticalmente no centro */
  justify-content: center;
  /* Alinha o texto horizontalmente no centro */
  border: none;
  /* Remove a borda padrão */
  transition: background-color 0.3s;
  /* Transição suave para a cor de fundo */
  margin: 5px;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #e040409d;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background-color 0.3s;
  margin: 5px;
}

.btn-delete:hover {
  background-color: #e04040f3;
  /* Cor de fundo azul mais escuro ao passar o mouse */
}

#clearMonthButton {
  background-color: #e040409d;
  /* Cor de fundo azul */
  color: white;
  /* Cor do texto branca */
  border-radius: 15px;
  /* Bordas arredondadas */
  padding: 5px 10px;
  /* Espaçamento interno */
  font-size: 14px;
  /* Tamanho da fonte */
  cursor: pointer;
  /* Cursor em forma de mão */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  line-height: 1.5;
  /* Alinha verticalmente o texto */
  display: inline-flex;
  /* Faz com que o botão seja tratado como um contêiner flexível */
  align-items: center;
  /* Alinha o texto verticalmente no centro */
  justify-content: center;
  /* Alinha o texto horizontalmente no centro */
  border: none;
  /* Remove a borda padrão */
  transition: background-color 0.3s;
  /* Transição suave para a cor de fundo */
  margin: 5px;
}

#clearMonthButton:hover {
  background-color: #e04040f3;
}

.card-display {
  margin-top: 20px;
}

.card {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  /* Adiciona margem entre os cards */
}

.input-field {
  margin-bottom: 20px;
}

/* Estilo para valores de crédito em verde claro */
.green-text {
  color: #00aa00;
  /* Ou a cor de verde desejada */
}

/* Estilo para valores de débito em laranja */
.orange-text {
  color: #ff6600;
  /* Ou a cor de laranja desejada */
}

/* Remova a linha de sublinhado do input */
.input-field input[type="number"]:focus:not([readonly]),
.input-field input[type="text"]:focus:not([readonly]) {
  border-bottom: none !important;
  box-shadow: none !important;
}

.purchase-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-container {
  display: flex;
  align-items: center;
}

/* Adiciona um layout de grid ao card de resultados anuais */
/* Estilo base para a exibição dos cards */
.card-balance-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

/* Ajustes específicos para telas maiores ou iguais a 768px */
@media screen and (min-width: 768px) {
  .card-balance-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

.card-balance-content .card-content {
  background-color: #f5f5f5;
  /* Cor de fundo clara para destacar */
  border: 1px solid #ddd;
  /* Borda leve para separar os itens */
  border-radius: 5px;
  /* Cantos arredondados */
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  text-align: center;
  /* Alinhamento centralizado */
}

.card-content p {
  font-size: 1.2em;
  /* Tamanho maior do texto para destacar */
  margin: 10px 0;
}

.card-content span.card-title {
  display: block;
  font-weight: bold;
  /* Destaca o título */
  margin-bottom: 5px;
}

/* Ajustes adicionais para a navegação */
.nav-wrapper .btn {
  margin: 0 5px;
  /* Margem horizontal entre os botões */
}

/* Estilo para o container de lançamentos anuais */
#launchDataContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Espaço entre grupos de itens */
  padding: 10px;
}

/* Estilo para cada grupo de descrição e total */
.launch-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* Espaço menor entre descrição e total */
}

/* Estilo para a descrição */
.launch-group .description {
  font-size: 1em;
  /*font-weight: bold;*/
  color: #333;
  /* Cor do texto escura para contraste */
}

/* Estilo para o total */
.launch-group .total {
  font-size: 0.9em;
  color: #007bff;
  /* Cor azul para destaque */
}

.auth-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo adicional para o campo de senha, se necessário */
#password {
  padding: 5px 0;
  /* Ajusta o padding para o campo de senha */
  margin-top: 20px;
}

/* Corrige o comportamento do placeholder para campos de senha */
.input-field input[type="password"]::placeholder {
  color: transparent;
  /* Faz com que o placeholder fique invisível para campos de senha, para usar a label */
}

.container-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Estilo para o campo de email, igualando ao campo de senha */
#email {
  padding: 5px 0;
  /* Ajusta o padding para o campo de email */
  margin-top: 20px;
  /* Espaçamento superior para o campo de email */
}

/* Corrige o comportamento do placeholder para campos de email */
.input-field input[type="email"]::placeholder {
  color: transparent;
  /* Faz com que o placeholder fique invisível para campos de email, para usar a label */
}

.auth-form h5 {
  margin-bottom: 1rem;
}

.auth-form .btn {
  margin-top: 1rem;
}

.auth-form .center {
  text-align: center;
}

.card-content-chart {
  padding: 0%;
}

/* Estilos das mensagens */
.user-message {
  color: #333;
  background-color: #e9e9e9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.bot-message {
  color: #fff;
  background-color: #44a7f8;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.loginButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos da página de chat */
#chat-messages {
  height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  #chat-messages {
    height: 400px;
  }  
}

.message {
  margin-bottom: 5px;
}

.user-message {
  text-align: right;
}

.bot-message {
  text-align: left;
}