* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.navigation {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-wrapper .brand-logo {
  font-size: 20px !important;
  padding: 0;
}

.nav-wrapper {
  flex-direction: column;
  align-items: center;
  background-color: #007bff;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#user-name {
  color: #3b3d64;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}

.main-content {
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: #5765ca;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-content img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 10px;
}

.card-title {
  color: #ffffff;
  font-weight: bold;
}

#limparDadosCard {
  background-color: #e040409d;
  color: white;
  transition: background-color 0.3s;
  border-radius: 15px;
}

#limparDadosCard:hover {
  background-color: #e04040f3;
  color: white;
  transition: background-color 0.3s;
  border-radius: 15px;
}

.page-footer {
  background-color: #333;
  padding: 30px 0 !important;
  padding-bottom: 50px !important;
  text-align: center !important;
  width: 100%;
  color: #f8f9fa;
  font-size: 16px !important;
}

.divider {
  height: 1px;
  background-color: #444;
}

.custom-flow-text {
  font-size: 16px !important;
  text-align: center !important;
}

.grey-text.text-lighten-4 {
  font-size: 16px !important;
  color: #f8f9fa;
  text-align: center;
}

@media (max-width: 1024px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .nav-wrapper .brand-logo {
    font-size: 16px !important;
    padding: 0;
    margin-top: 26px;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .nav-wrapper {
    background-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px 15px 5px 15px;
    justify-content: space-between;
  }

  .nav-wrapper .brand-logo {
    font-size: 32px !important;
    padding: 0;
  }
}

@media print {
  * {
    margin: 0;
    padding: 0;
  }

  .card {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .card-content {
    font-size: 14px;
  }

  .navigation {
    position: relative;
    top: 0;
    width: 100%;
    border: none;
  }

  .container {
    position: absolute;
    width: 100%;
  }

  .brand-logo {
    flex: 1;
    text-align: center;
  }

  #pdfButton,
  #card-lancamento,
  #chart,
  .btn-edit,
  .btn-delete,
  .btn-default,
  #tutorial {
    display: none;
  }
}

.user-container {
  text-align: center;
  margin: 20px 0;
}

.user-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.btn-logout {
  margin: 10px;
  border-radius: 15px;
  width: 150px;
}

.input-field select {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
}