* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {

  #pdfButton,
  #backButton,
  #nextButton,
  #adsCard {
    display: none !important;
  }

  .nav-wrapper .brand-logo {
    font-size: 18px !important;
    padding: 0;
    margin-top: 26px;
  }

  .card {
    padding: 3px;
  }
}

@media print {
  * {
    margin: 0;
    padding: 0;
  }

  #aviso-saldo-inicial {
    display: none;
  }

  .card {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .card-content {
    font-size: 14px;
  }

  .container {
    position: absolute;
    width: 100%;
  }

  .brand-logo {
    flex: 1;
    text-align: center;
  }

  #pdfButton {
    display: none;
  }

  #card-lancamento {
    display: none;
  }

  #chart {
    display: none;
  }

  #button-delete {
    display: none;
  }

  .btn-default {
    display: none;
  }

  #tutorial {
    display: none
  }

  .navigation {
    display: none;
  }
}

#home {
  cursor: pointer;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.brand-logo {
  flex: 1;
  text-align: center;
}

.btn btn-default,
.btn btn-default {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.collection-columns .collection-item {
  width: 50%;
}

.navigation {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.card-display {
  margin-top: 20px;
}

.card {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.input-field {
  margin-bottom: 20px;
}

.green-text {
  color: #00aa00;
}

.orange-text {
  color: #ff6600;
}

.input-field input[type="number"]:focus:not([readonly]),
.input-field input[type="text"]:focus:not([readonly]) {
  border-bottom: none !important;
  box-shadow: none !important;
}

.card-balance-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.purchase-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-container {
  display: flex;
  align-items: center;
}